<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="w-full h-full bg-zinc-900 text-white">

        <a  class="text-blue-500 " href="/">back to home</a>
        <form action="">
            <h1 class="text-3xl tracking-tighter  mt-3 mb-3">All Users</h1>
            <div class="users flex gap-3 flex-wrap">
                <% users.forEach(function(user){ %>
                    <div class="user w-72 p-4 bg-zinc-800  overflow-hidden rounded-lg">
                        <div class="w-full h-52 rounded-lg bg-zinc-700">
                            <img class="w-full h-full object-cover" src="<%= user.image %>" alt="">                        </div>
                        <h1 class="text-xl tracking-tighter mt-3"><%= user.name %></h1>
                        <h5 class="text-zinc-500"><%= user.email %></h5>
                        <div class="flex gap-3">
                            <a  class="text-zinc-600" href="/edit/<%= user._id %>">Edit Users</a>
                            <a  class="text-red-500" href="/delete/<%= user._id %>">Delete user</a>
                        </div>
                    </div>
               <% }) %>

            </div>
           
        </form>
    </div>
</body>
</html>